In [18]:
name = "Sam"

In [21]:
last_letters=name[1:]

In [23]:
last_letters

'am'

In [24]:
x = "P"

In [27]:
x+last_letters

'Pam'

In [28]:
letter = 'z'
letter*10

'zzzzzzzzzz'

In [29]:
tenZ=letter*10

In [30]:
tenZ

'zzzzzzzzzz'

In [32]:
'2'+'3'

'23'

In [33]:
2+3

5

In [34]:
cls

In [35]:
clear

In [36]:
yes = "howdy"

In [39]:
yes.isnumeric()

False

In [40]:
yes.upper()

'HOWDY'

In [41]:
yes

'howdy'

In [42]:
yes.title()

'Howdy'

In [43]:
yes.lower()

'howdy'

In [44]:
yes.split()

['howdy']

In [45]:
x = "Some nights I stay up cashing in my bad luck"

In [48]:
x = x.split()

In [49]:
for i in x:
    print(i)

Some
nights
I
stay
up
cashing
in
my
bad
luck

In [51]:
x = "Howdy"
for i in x:
    print(i)

H
o
w
d
y

In [54]:
cnt=0
for i in x:
    if i == "o":
        cnt+=1
print(cnt)

1

In [55]:
x.split("w")

['Ho', 'dy']

In [56]:
print("This is a string of size {}".format("17"))

This is a string of size 17

In [60]:
print("The {0} {1} {0}".format("fox", "brown", "quick"))

The fox brown fox

In [65]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [66]:
result=100/777

In [67]:
result

0.1287001287001287

In [99]:
print("The result is %5.2f"%result)

The result is  0.13

In [96]:
name = 'General Kenobi'

In [94]:
print(f"The name is {name}")

The name is General Kenobi

In [97]:
print("The name is {}".format(name))

The name is General Kenobi

In [98]:
print("The name is %d" %name)

TypeError: %d format: a number is required, not str

In [108]:
my_list = [1, 2, 3]

In [109]:
my_list

[1, 2, 3]

In [110]:
my_list = ["string", 100, 20.3, False]

In [111]:
my_list

['string', 100, 20.3, False]

In [112]:
len(my_list)

4

In [113]:
mylist = ['one', 'two', 'three']

In [114]:
len(mylist)

3

In [115]:
mylist[0]

'one'

In [116]:
mylist[-1]

'three'